<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.crm.entity.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, resource
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crm.entity.Permission" >
    insert into permission (id, name, resource
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.entity.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="resource != null" >
        resource,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.entity.Permission" >
    update permission
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.entity.Permission" >
    update permission
    set name = #{name,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="pageList" parameterType="permission" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from permission
    <where>
    	<if test="name != null and name != '' ">
    		and name like concat("%", #{name}, "%")
    	</if>
    </where>
  </select>
  
  <delete id="deleteAll">
  	delete from permission
  	where id in
  	<foreach collection="array" item="id" open="(" close=")" separator=",">
  		#{id}
  	</foreach>
  </delete>
  
  <select id="selectByRoleId" parameterType="int" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from permission
    where id in
    (select permission_id from role_permission where role_id = #{roleId})
  </select>
  
  <select id="selectByUserId" parameterType="long" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from permission
    where id in
	  (select permission_id from role_permission
	  where role_id in(
	  select role_id from user_role
	  where user_id = #{userId}
    ))
  </select>
  
  <select id="selectByResource" parameterType="string" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from permission
    where resource=#{resource}
  </select>
  
</mapper>